body {
}

.animated {
    animation-duration: 30s;
    animation-fill-mode: both;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.fadeOut {
    animation-name: fadeOut;
}